// (1.02) variables

:root {
  --theme-bg: white;
  --theme-color: black;

  // colors
  --white: #ffffff;
  --black: #000000;
  --primary-color: #116265;
  --secondary-color: #168388;
  --tertiary-color: #120f23;
  --quaternary-color: #191b1a;
  --quinary-color: #b1b0b6;

  // transitions
  --transition: all 0.3s ease-in-out;

  // box shadow
  --shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  --shadow-secondary: 0 0 31px rgba(0, 0, 0, 0.1);
}
